/.vscode
/Array.cpp
/Array.exe
/bank account.cpp
/calculator using class.cpp
/calculator using class.exe
/Function.cpp
/Function.exe
/Hello World.cpp
/Hello World.exe
/Scope resolutiion.cpp
/Scope resolutiion.exe
/while loop.cpp
/while loop.exe